/*Styling for mobile screens*/

.activities ul {
  list-style: none;
  padding: 10px;
  margin: 10px 0;
  background-color: #f4f6f6;
  border: solid 1px white;
  border-radius: 8px;
}

.activities li {
  background-color: white;
  padding: 15px 5px;
  margin: 10px 5px;
  border: solid 1px white;
  border-radius: 8px;
}

.activities h4 {
  margin: 5px 5px 15px 5px;
}

.activities h5 {
  margin: 0;
  font-weight: normal;
  color: grey;
}

.activities p {
  margin: 10px 0 0 0;
  padding: 5px;
}

/*Styling for desktop screens*/
@media screen and (min-width: 800px) {
  .activities {
    max-width: 800px;
    margin: auto;
  }

  .activities ul {
    padding: 20px;
    margin: 20px 0;
  }

  .activities li {
    padding: 20px 10px;
    margin: 20px 10px;
  }

  .activities p {
    margin: 10px 0 0 0;
    padding: 5px 15px;
  }
}
