/*Styling for mobile screens*/

.header-title {
  margin: 0 5px;
  padding: 5px 0;
  border-radius: 10px;
  background-color: #d0ece7;
}

/*Styling for desktop screens*/
@media screen and (min-width: 800px) {
  header {
    max-width: 1200px;
    margin: 0 auto;
  }
  .header-title {
    margin: 50px 0 0 0;
    padding: 10px 0;
    border-radius: 10px;
    font-size: 18pt;
  }
}
