/*Styling for mobile screens*/

.App {
  text-align: center;
  margin: 30px 10px;
  color: #17202a;
}

.nav-bar {
  margin: 0 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

a.nav-link {
  background-color: white;
  border: solid 1px #808f8c;
  padding: 8px 12px;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 18px;
  margin: 20px 0;
  width: 40%;
}
a.nav-link-active {
  background-color: #808f8c;
  color: white;
}
a.nav-link:hover {
  background-color: #f4f6f6;
  color: black;
}

/*Styling for desktop screens*/
@media screen and (min-width: 800px) {
  .nav-bar {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  a.nav-link {
    font-size: 24px;
    width: 46%;
  }
}
